In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("50_Startups.csv")

In [4]:
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0
5,131876.90,99814.71,362861.36,156991.12,0,1
6,134615.46,147198.87,127716.82,156122.51,0,0
7,130298.13,145530.06,323876.68,155752.60,1,0
8,120542.52,148718.95,311613.29,152211.77,0,1
9,123334.88,108679.17,304981.62,149759.96,0,0
10,101913.08,110594.11,229160.95,146121.95,1,0
11,100671.96,91790.61,249744.55,144259.40,0,0
12,93863.75,127320.38,249839.44,141585.52,1,0
13,91992.39,135495.07,252664.93,134307.35,0,0
14,119943.24,156547.42,256512.92,132602.65,1,0
15,114523.61,122616.84,261776.23,129917.04,0,1
16,78013.11,121597.55,264346.06,126992.93,0,0
17,94657.16,145077.58,282574.31,125370.37,0,1
18,91749.16,114175.79,294919.57,124266.90,1,0
19,86419.70,153514.11,0.00,122776.86,0,1
20,76253.86,113867.30,298664.47,118474.03,0,0
21,78389.47,153773.43,299737.29,111313.02,0,1
22,73994.56,122782.75,303319.26,110352.25,1,0
23,67532.53,105751.03,304768.73,108733.99,1,0
24,77044.01,99281.34,140574.81,108552.04,0,1
25,64664.71,139553.16,137962.62,107404.34,0,0
26,75328.87,144135.98,134050.07,105733.54,1,0
27,72107.60,127864.55,353183.81,105008.31,0,1
28,66051.52,182645.56,118148.20,103282.38,1,0
29,65605.48,153032.06,107138.38,101004.64,0,1
30,61994.48,115641.28,91131.24,99937.59,1,0
31,61136.38,152701.92,88218.23,97483.56,0,1
32,63408.86,129219.61,46085.25,97427.84,0,0
33,55493.95,103057.49,214634.81,96778.92,1,0
34,46426.07,157693.92,210797.67,96712.80,0,0
35,46014.02,85047.44,205517.64,96479.51,0,1
36,28663.76,127056.21,201126.82,90708.19,1,0
37,44069.95,51283.14,197029.42,89949.14,0,0
38,20229.59,65947.93,185265.10,81229.06,0,1
39,38558.51,82982.09,174999.30,81005.76,0,0
40,28754.33,118546.05,172795.67,78239.91,0,0
41,27892.92,84710.77,164470.71,77798.83,1,0
42,23640.93,96189.63,148001.11,71498.49,0,0
43,15505.73,127382.30,35534.17,69758.98,0,1
44,22177.74,154806.14,28334.72,65200.33,0,0
45,1000.23,124153.04,1903.93,64926.08,0,1
46,1315.46,115816.21,297114.46,49490.75,1,0
47,0.00,135426.92,0.00,42559.73,0,0
48,542.05,51743.15,0.00,35673.41,0,1
49,0.00,116983.80,45173.06,14681.40,0,0

In [7]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [8]:
independent=dataset[['R&D Spend', 'Administration', 'Marketing Spend','State_Florida', 'State_New York']]

In [9]:
independent

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   165349.20       136897.80        471784.10              0               1
1   162597.70       151377.59        443898.53              0               0
2   153441.51       101145.55        407934.54              1               0
3   144372.41       118671.85        383199.62              0               1
4   142107.34        91391.77        366168.42              1               0
5   131876.90        99814.71        362861.36              0               1
6   134615.46       147198.87        127716.82              0               0
7   130298.13       145530.06        323876.68              1               0
8   120542.52       148718.95        311613.29              0               1
9   123334.88       108679.17        304981.62              0               0
10  101913.08       110594.11        229160.95              1               0
11  100671.96        91790.61        249744.55              0               0
12   93863.75       127320.38        249839.44              1               0
13   91992.39       135495.07        252664.93              0               0
14  119943.24       156547.42        256512.92              1               0
15  114523.61       122616.84        261776.23              0               1
16   78013.11       121597.55        264346.06              0               0
17   94657.16       145077.58        282574.31              0               1
18   91749.16       114175.79        294919.57              1               0
19   86419.70       153514.11             0.00              0               1
20   76253.86       113867.30        298664.47              0               0
21   78389.47       153773.43        299737.29              0               1
22   73994.56       122782.75        303319.26              1               0
23   67532.53       105751.03        304768.73              1               0
24   77044.01        99281.34        140574.81              0               1
25   64664.71       139553.16        137962.62              0               0
26   75328.87       144135.98        134050.07              1               0
27   72107.60       127864.55        353183.81              0               1
28   66051.52       182645.56        118148.20              1               0
29   65605.48       153032.06        107138.38              0               1
30   61994.48       115641.28         91131.24              1               0
31   61136.38       152701.92         88218.23              0               1
32   63408.86       129219.61         46085.25              0               0
33   55493.95       103057.49        214634.81              1               0
34   46426.07       157693.92        210797.67              0               0
35   46014.02        85047.44        205517.64              0               1
36   28663.76       127056.21        201126.82              1               0
37   44069.95        51283.14        197029.42              0               0
38   20229.59        65947.93        185265.10              0               1
39   38558.51        82982.09        174999.30              0               0
40   28754.33       118546.05        172795.67              0               0
41   27892.92        84710.77        164470.71              1               0
42   23640.93        96189.63        148001.11              0               0
43   15505.73       127382.30         35534.17              0               1
44   22177.74       154806.14         28334.72              0               0
45    1000.23       124153.04          1903.93              0               1
46    1315.46       115816.21        297114.46              1               0
47       0.00       135426.92             0.00              0               0
48     542.05        51743.15             0.00              0               1
49       0.00       116983.80         45173.06              0               0

In [10]:
dependent=dataset[['Profit']]

In [11]:
dependent

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [13]:
from sklearn.ensemble import AdaBoostRegressor
regressor=AdaBoostRegressor(n_estimators=5000,learning_rate=1.0,loss='linear')
regressor=regressor.fit(x_train,y_train)

C:\Users\vinot\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostRegressor
param_grid ={'n_estimators': [50, 100],'learning_rate' : [0.01,0.05,0.1,0.3,1],'loss' : ['linear', 'square', 'exponential']
}
grid = GridSearchCV(AdaBoostRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train,y_train)
# fitting the model for grid

C:\Users\vinot\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 30 candidates, totalling 90 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done  90 out of  90 | elapsed:    3.7s finished
C:\Users\vinot\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\vinot\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=AdaBoostRegressor(base_estimator=None, learning_rate=1.0,
                                         loss='linear', n_estimators=50,
                                         random_state=None),
             iid='warn', n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.05, 0.1, 0.3, 1],
                         'loss': ['linear', 'square', 'exponential'],
                         'n_estimators': [50, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [15]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'learning_rate': 1, 'loss': 'exponential', 'n_estimators': 100}:

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_learning_rate,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.076000,0.005354,0.008331,4.727769e-04,0.01,linear,50,"{'learning_rate': 0.01, 'loss': 'linear', 'n_e...",0.826196,0.862565,0.917041,0.867217,0.036940,14
1,0.129667,0.005794,0.013334,1.885200e-03,0.01,linear,100,"{'learning_rate': 0.01, 'loss': 'linear', 'n_e...",0.824813,0.871418,0.870098,0.855024,0.021829,27
2,0.069339,0.002361,0.008661,4.673192e-04,0.01,square,50,"{'learning_rate': 0.01, 'loss': 'square', 'n_e...",0.826912,0.880726,0.866529,0.857813,0.023049,24
3,0.127995,0.002444,0.012999,8.177032e-04,0.01,square,100,"{'learning_rate': 0.01, 'loss': 'square', 'n_e...",0.832752,0.852166,0.889527,0.857252,0.023282,25
4,0.068333,0.002058,0.008333,9.461158e-04,0.01,exponential,50,"{'learning_rate': 0.01, 'loss': 'exponential',...",0.830523,0.879544,0.909016,0.871999,0.032249,11
5,0.129668,0.006798,0.015666,5.907734e-03,0.01,exponential,100,"{'learning_rate': 0.01, 'loss': 'exponential',...",0.826082,0.884187,0.897640,0.868493,0.031115,13
6,0.062667,0.000471,0.006999,1.236308e-06,0.05,linear,50,"{'learning_rate': 0.05, 'loss': 'linear', 'n_e...",0.839259,0.909728,0.892923,0.880286,0.030405,4
7,0.140332,0.004028,0.011668,4.714266e-04,0.05,linear,100,"{'learning_rate': 0.05, 'loss': 'linear', 'n_e...",0.832291,0.914707,0.838532,0.862509,0.037788,18
8,0.071004,0.002829,0.008000,3.612302e-06,0.05,square,50,"{'learning_rate': 0.05, 'loss': 'square', 'n_e...",0.835326,0.858559,0.891207,0.860854,0.022689,21
9,0.127000,0.002161,0.012667,1.248170e-03,0.05,square,100,"{'learning_rate': 0.05, 'loss': 'square', 'n_e...",0.830279,0.882922,0.889043,0.866797,0.026494,15
10,0.064330,0.002622,0.009000,8.171188e-04,0.05,exponential,50,"{'learning_rate': 0.05, 'loss': 'exponential',...",0.836242,0.906018,0.882585,0.874730,0.029375,7
11,0.126331,0.008730,0.012667,9.423475e-04,0.05,exponential,100,"{'learning_rate': 0.05, 'loss': 'exponential',...",0.831647,0.884118,0.868535,0.861230,0.022281,19
12,0.068667,0.003859,0.008333,9.409425e-04,0.1,linear,50,"{'learning_rate': 0.1, 'loss': 'linear', 'n_es...",0.834614,0.869289,0.837495,0.847408,0.015848,29
13,0.152332,0.010875,0.016668,6.601939e-03,0.1,linear,100,"{'learning_rate': 0.1, 'loss': 'linear', 'n_es...",0.830779,0.907549,0.915797,0.883820,0.038458,2
14,0.083668,0.015064,0.008002,1.655632e-06,0.1,square,50,"{'learning_rate': 0.1, 'loss': 'square', 'n_es...",0.825670,0.847054,0.889143,0.852950,0.026053,28
15,0.147333,0.023810,0.014336,2.055095e-03,0.1,square,100,"{'learning_rate': 0.1, 'loss': 'square', 'n_es...",0.826692,0.866892,0.888231,0.859815,0.025438,22
16,0.064667,0.000944,0.007666,4.713714e-04,0.1,exponential,50,"{'learning_rate': 0.1, 'loss': 'exponential', ...",0.832699,0.866311,0.886378,0.861094,0.022061,20
17,0.142335,0.003682,0.012666,4.713723e-04,0.1,exponential,100,"{'learning_rate': 0.1, 'loss': 'exponential', ...",0.833407,0.891025,0.840351,0.855344,0.025926,26
18,0.080999,0.016309,0.008335,4.704155e-04,0.3,linear,50,"{'learning_rate': 0.3, 'loss': 'linear', 'n_es...",0.789628,0.900663,0.890826,0.859502,0.050628,23
19,0.133999,0.003559,0.011668,4.711459e-04,0.3,linear,100,"{'learning_rate': 0.3, 'loss': 'linear', 'n_es...",0.832479,0.909728,0.885468,0.875618,0.032672,6
20,0.069660,0.000474,0.007000,1.920548e-06,0.3,square,50,"{'learning_rate': 0.3, 'loss': 'square', 'n_es...",0.833583,0.872975,0.893496,0.865919,0.024791,16
21,0.124667,0.006599,0.011332,4.712030e-04,0.3,square,100,"{'learning_rate': 0.3, 'loss': 'square', 'n_es...",0.830424,0.908622,0.884316,0.874172,0.033097,9
22,0.063999,0.003267,0.007666,4.719356e-04,0.3,exponential,50,"{'learning_rate': 0.3, 'loss': 'exponential', ...",0.790568,0.840894,0.913790,0.846549,0.050064,30
23,0.131331,0.008994,0.011666,9.431903e-04,0.3,exponential,100,"{'learning_rate': 0.3, 'loss': 'exponential', ...",0.835446,0.851519,0.923710,0.868697,0.037834,12
24,0.065663,0.003093,0.008000,5.947204e-07,1,linear,50,"{'learning_rate': 1, 'loss': 'linear', 'n_esti...",0.840024,0.886717,0.926039,0.883066,0.034931,3
25,0.119000,0.006481,0.012334,1.247766e-03,1,linear,100,"{'learning_rate': 1, 'loss': 'linear', 'n_esti...",0.828158,0.904656,0.891232,0.874209,0.033705,8
26,0.060667,0.001247,0.007334,4.709770e-04,1,square,50,"{'learning_rate': 1, 'loss': 'square', 'n_esti...",0.862280,0.851116,0.881667,0.864545,0.012479,17
27,0.121332,0.001247,0.010001,1.415179e-03,1,square,100,"{'learning_rate': 1, 'loss': 'square', 'n_esti...",0.844669,0.898313,0.896631,0.879392,0.025090,5
28,0.061999,0.002449,0.007002,1.381091e-06,1,exponential,50,"{'learning_rate': 1, 'loss': 'exponential', 'n...",0.832731,0.897670,0.888063,0.872386,0.028906,10
29,0.104333,0.012121,0.005338,4.655879e-04,1,exponential,100,"{'learning_rate': 1, 'loss': 'exponential', 'n...",0.845455,0.898992,0.926421,0.889257,0.033532,1

In [19]:
R_D_Spend_input=float(input("R_D Spend:"))
Administration_input=float(input("Administration:"))
Marketing_spend_input=float(input("Marketing_spend:"))
State_Florida_input=int(input("State_Florida 0 or 1:"))
State_New_Yark_input=int(input("State_New_Yark 0 or 1:"))

R_D Spend:165349.20
Administration:136897.80
Marketing_spend:471784.10
State_Florida 0 or 1:0
State_New_Yark 0 or 1:1

In [20]:
Future_Prediction=grid.predict([[R_D_Spend_input,Administration_input,Marketing_spend_input,State_Florida_input,State_New_Yark_input]])#,!change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[186021.93666667]

In [21]:
Future_Prediction

array([186021.93666667])

In [22]:
import pickle
filename="finalized_model_AdaBoost.sav"
pickle.dump(regressor,open(filename,'wb'))

In [23]:
loaded_model=pickle.load(open("finalized_model_AdaBoost.sav",'rb'))
result=loaded_model.predict([[1234,345,4453,1,0]])

In [24]:
result

array([56105.89142857])